<!DOCTYPE html>
<html>
    <head>
        <title>Kappa</title>
        <style type="text/css">
            html {
                background-color: #2e3436;
                color: #eeeeec;
                font-family: sans-serif;
            }

            a {
                color: #eeeeec;
            }

            html, body, table {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            table {
                border-collapse: collapse;
            }

            th {
                white-space: nowrap;
            }

            td {
                border: 1px solid #2e3436;
                padding: 10px;
                vertical-align: top;
            }

            th.name {
                text-align: right;
                padding-right: 30px;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            li {
                font-size: 150%;
                font-weight: bold;
                display: inline-block;
                margin: 0 10px 10px 0;
            }

            .purple {
                background-color: #ad7fa8;
            }

            .orange {
                background-color: #fcaf3e;
            }

            .green {
                background-color: #8ae234;
            }

            .yellow {
                background-color: #fce94f;
            }

            .red {
                background-color: #ef2929;
            }

            .blue {
                background-color: #729fcf;
            }

            .purple a, .orange a, .green a, .yellow a, .red a, .blue a {
                color: #2e3436;
            }

            .tooltip {
                display: none;
                background-color: #eeeeec;
                border: 1px solid #555753;
                color: #2e3436;
                font-size: 50%;
                font-weight: normal;
                padding: 10px 20px;
                border-radius: 10px;
                width: 250px;
            }
        </style>
        <script type="text/javascript">
            setTimeout(function () {
                document.location.href = document.location.href;
            }, 60000);
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.ticket').each(function () {
                    var $ticket = $(this);

                    $ticket.tooltip({
                        tipClass: 'tooltip-' + $ticket.attr('id'),
                        position: 'center left',
                        offset: [0, -10],
                        relative: true
                    });
                });
            });
        </script>
    </head>
    <body>
        <table>
            <tr style="height: 5%;">
                <th style="width: {{ column_size }}%;"></th>
                {% for status in statuses %}
                <th style="width: {{ column_size }}%;">{{ status.title }}</th>
                {% endfor %}
            </tr>
            {% for staffId, tableStatuses in table %}
            <tr style="height: {{ row_size }}%;">
                <th class="name">{{ staffs[staffId].fullname }}</th>
                {% for statusId, tickets in tableStatuses %}
                <td style="background-color: {{ statuses[statusId].statusBackgroundColor }};">
                    <ul>
                        {% for ticket in tickets %}
                        <li{% if ticket.new %} style="color: {{ statuses[statusId].statusColor }} !important;"{% endif %} class="{{ ticket.classes }}">
                            <a class="ticket" href="{{ ticket.url }}" id="{{ ticket.id }}"><span>#</span>{{ ticket.id }}</a>
                            <div class="tooltip tooltip-{{ ticket.id }}">
                                <p><b>{{ ticket.subject }}</b></p>
                                <p>
                                    <b>Creator:</b> {{ ticket.fullname }}<br/>
                                    <b>Last replier:</b> {{ ticket.lastReplier }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
